body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: tan;
}

.container {
    height: 50vh;
    width: 50vh;
    background-color: white;
    border-style: double;
    border-width: 5px;
    border-color: black;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

h1 {
    font-size: 48px;
}

.columns {
    height: 100%;
    width: 100%;
    border: solid .1px black;
    display: flex;
    flex-direction: column;
}

.boxes {
    height: 100%;
    width: 100%;
    border: solid .1px black;
}

.tools {
    height: 12vh;
    border: solid 2px;
    width: 60vh;
}
